<div style="float:left;">
	<div id="1sttab">First Tab</div>
	<div id="2ndtab">Second Tab</div>
	<div id="3rdtab">Third Tab</div>
</div>


<%= image_tag('1stimg.png', :id => '1stimg', :class => 'active') %>
<%= image_tag('2ndimg.png', :id => '2ndimg') %>
<%= image_tag('3rdimg.png', :id => '3rdimg') %>