#userlisth1 {
	font-family: 'Londrina Sketch';
	font-size:40px;
}
#thinking {
	font-family: 'Londrina Sketch';
	font-size:40px;
}
#loginh1 {
	font-family: 'Londrina Sketch';
	font-size:80px;
}
#signuph1 {
	font-family: 'Londrina Sketch';
	font-size:80px;
}