#microposts {
	width:310px;
	padding:20px;
	border-radius:10px;
	background-color:white;
	border:solid #77B1E1 1px;
}
.micropostfield {
	width:340px;
	height:150px;
	border-radius:10px;
}
#timeago {
	font-size:20px;
}
body {
	font-family:Helvetica;
	background-color:#88CBFF;
}
p#microcontent {
	width:240px;
}
#micropost_container {
	float:left;
}
#user_info {
	background-color:white;
	margin-left:400px;
	border-radius:10px;
	width:300px;
	padding:20px;
	border:solid #77B1E1 1px;
}
.micro_hover {
	background-color:#f33;
}
.micropost {
	display:block;
}
#thinkingwhat {
	width:310px;
	padding:20px;
	background:white;
	border:solid #77B1E1 1px;
	border-radius:10px;
	margin:0;
}
#userlist {
	background-color:white;
	padding:10px;
}